---
---

@import "{{ site.theme }}";

h1 a {
  color: #697d00;
}

h1,h2,h3 {
  color: #D2440C;
}

// header {width:270px;float:right;position:fixed;-webkit-font-smoothing:subpixel-antialiased}
// header li {width:89px;float:right;border-left:1px solid #e0e0e0;height:40px}
// section {width:500px;float:left;padding-bottom:50px}
// footer {width:270px;float:right;position:fixed;bottom:50px;-webkit-font-smoothing:subpixel-antialiased}

header {
  max-height:30px;
  margin-bottom:20px;
}

img.logo {
  max-height:40px;
}

@media print, screen {
  html,body {
    margin:0;
    padding:0;
  }
  div.wrapper {
    width:auto;
    margin:0;
  }
  header,section,footer{
    float:none;
    position:static;
    width:auto;
  }
  header {
    padding:0;
    margin:0;
    // background-color:#eeeeee;
  }
  header a {
    display: inline-block;
    padding:0;
    margin:0;
  }
  header a small {
    display:inline;
  }
  header ul {
    width:99%;
    position:absolute;
    right:50px;
    top:52px;
  }
  header ul,header p.view {
    position:static;
  }
  header li,header ul li+li+li {
    width:33%;
  }
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px;
    margin:0 0 20px;
  }
  
  footer {
    padding:20px;
  }

  body,pre,code {
    word-wrap:normal;
  }

}

/*
@media print, screen and (max-width: 960px) {
  div.wrapper {width:auto;margin:0}
  header,section,footer{float:none;position:static;width:auto}
  header{padding-right:320px}
  section{border:1px solid #e5e5e5;border-width:1px 0;padding:20px 0;margin:0 0 20px}
  header a small{display:inline}
  header ul{position:absolute;right:50px;top:52px}
}
@media print, screen and (max-width: 720px) {
  body{word-wrap:break-word}
  header{padding:0}
  header ul,header p.view{position:static}
  pre,code{word-wrap:normal}
}
@media print, screen and (max-width: 480px) {
  body{padding:15px}
  header ul{width:99%}
  header li,header ul li+li+li{width:33%}
}
*/
